<h1>Detailed Form</h1>

<form action="/results" method="POST" accept-charset="utf-8" class="input-form">
<%= @text_label %>
    <!-- <input type="text" name="apikey" placeholder="<%= @text_placeholder %>" /><br> -->
    <select name="incidentType" form="incidentForm">
        <option value="Alcohol">Alcohol</option>
        <option value="Assault">Assault</option>
        <option value="Bullying">Bullying</option>
        <option value="Hazing">Hazing</option>
        <option value="Drugs">Drugs</option>
        <option value="Graffiti">Graffiti</option>
        <option value="Injury">Injury</option>
        <option value="Suspicious activity">Suspicious activity</option>
        <option value="Trespassing">Trespassing</option>
        <option value="Vandalism">Vandalism</option>
        <option value="Weapons violation">Weapons violation</option>
        <option value="Technology misuse">Technology misuse</option>
        <option value="Other">Other</option>
    </select>
    <input type="text" id="peopleInvolved" name="peopleInvolved" style="height:25%"></input><br><br>
    <input type="text" id="observers" name="observers" style="height:25%"></input><br><br>

    <label for="appt-time">Time:</label>
    <input type="time" id="appt-time" name="appt-time" />
    <span class="hours">approximate hours/minutes</span><br>
    <select name="incidentType" form="incidentForm">
            <option value="Alcohol">Alcohol</option>
            <option value="Assault">Assault</option>
            <option value="Bullying">Bullying</option>    

    <textarea id="description" name="description" placeholder="<%= @text_placeholder %>" style="height:25%"></textarea><br><br>
    <input id="f02" type="file" name="file" accept="image/*, video/*" multiple/><br>
    <button type="submit" value="Submit" class="btn btn-primary btn-block btn-stretch" style="background-color: #8ab82e!important;">Submit</button>
    <!-- <input id="f02" type="file" name="file" accept="image/*, video/*" style="visibility: hidden" multiple/>
    <button class="btn btn-light" type="button"><label for="f02"><%= @button_label %></label></button> -->
</form>

<%= link_to "Open modal", "#my-modal", :class => "btn", "data-toggle" => "modal" %>
<div class="modal hide fade" id="my-modal" title="My modal">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    Modal Body
  </div>
  <div class="modal-footer">
    <button aria-hidden="true" class="btn" data-dismiss="modal">Close</button>
  </div>
</div>