<!-- LET KNOW LANDING-PAGE -->
<div class="left-column">
	<img src="../images/let-know_image.jpg" class="left-image" />
</div>

<div class="right-column">
	<div>
		<img src="../images/let-know_icon.png" class="icon-right"/>
		<h1 class="title"><%= @title %></h1>
	</div>
	
	<h4><%= @header %></h4>
	<form action="/results" method="POST" accept-charset="utf-8" class="input-form">
		<%= @text_label %>
		<textarea class="text-input" id="description" name="description" placeholder="<%= @text_placeholder %>" style="height:25%" required></textarea><br>
		<!-- <input id="f02" type="file" name="file" accept="image/*, video/*" title="<%= @button_label %>" multiple/><br> -->
		<input id="f02" type="file" name="file" accept="image/*, video/*" style="visibility: hidden" multiple/>
		<button class="btn btn-secondary" type="button"><label for="f02" style="cursor: pointer; font-weight: 300!important"><%= @button_label %></label></button><br><br>
		<button type="submit" value="Submit" class="btn btn-primary btn-block btn-stretch" style="background-color: #8ab82e!important;">Submit</button>
	</form>

	<div style="text-align:center">
		<span><%= @detail_label %></span>
		<button type="button" class="btn btn-secondary btn-block btn-stretch" data-toggle="modal" data-target="#myModal" style="margin-top:10px">Let's Start</button>
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<%= erb :modal %>
			</div>
		</div>
	</div>
</div>
